@import url('modern-normalize/modern-normalize.css');

body {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-top: 36px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 371px;
  display: flex;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 15px;
}

.search-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #303030;
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  border: none;
}

.search-btn:hover {
  background: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #1d0202;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  padding-left: 156px;
  padding-right: 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 60px) / 4);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.js-wraper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.modal-container {
  background: rgba(46, 47, 66, 0.8);
}
